$color_dark_1: #171e22;
$color_dark_2: #273138;
$color_dark_3: #313d46;
$color_dark_4: lighten($color_dark_1, 12%);
$color_dark_5: lighten($color_dark_4, 20%);
$color_dark_6: lighten($color_dark_4, 40%);
$color_dark_7: lighten($color_dark_4, 70%);
